*{
    box-sizing: border-box;
    font-weight: normal;
    font-size: 15px;
    color: aliceblue;
    font-family: "Overpass", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color:  hsl(216, 12%, 8%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 400;
    color:  hsl(217, 12%, 63%);
}

.container-main,
.container-thankyou {
    width: 25rem;
    height: 25rem;
    padding: 2.5rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 5px;
}

.star {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-shadow: #959da533 0px 1px 5px;
    display: flex;
    padding: 0.5rem;
}

.star image {
    width: 0.2rem;
    height: 0.2rem;

}

.selection-area{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


.circle {
    background-color: hsl(217, 12%, 29%);
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
    box-shadow: #959da533 0px 1px 2px;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
}

.circle:active {
    background-color: hsl(25, 97%, 53%);
}

.selected {
    background-color: hsl(217, 12%, 63%);
}

.btn {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    height: 3rem;
    border-radius: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.container-thankyou img {
    margin: 0 auto;
    position: relative;
    display: flex;
}

.text {
    width: 100%;
    margin: 0 auto;
}

.result {
    margin: 2rem 0;
    background-color: hsl(217, 12%, 29%);
    width: 15rem;
    border-radius: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    position: relative;
    color: hsl(25, 97%, 53%);
}

.thanks-area,
.result {
    text-align: center;
}






.container-main {
    display: block;
}




.container-thankyou {
    display: none;
}

@media screen and (max-width: 390px){

    body {
        height: 70vh;
    }
    .container-main,
    .container-thankyou {
        width: 20rem;
        height: 25rem;
        padding: 2rem;
    }

    .circle {
        width: 2.7rem;
        height: 2.7rem;
    }
}